##############################
## Folders                  ##
##############################
node_modules
.vscode
 
##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml
.babelrc
