$centerW:1000px;
$gray:#e1e5e8;
@mixin center{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
@mixin headCR{
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
}

@mixin blogList($w:$centerW){
    width: $w;
    box-sizing: border-box;
    margin: 0 auto;
    background: #ffffff;
    font-size: 16px;
}